@font-face {
    font-family: 'Montserrat';
    src: url(https://fonts.google.com/specimen/Montserrat);
}

@font-face {
    font-family: 'Fraunces';
    src: url(https://fonts.google.com/specimen/Fraunces);
}

body {
    background-color: hsl(30, 38%, 92%);
    justify-self: center;
}

#main {
    max-width: 616px;
    background-color: hsl(0, 0%, 100%);
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: hsl(228, 12%, 48%);
}

#info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 6%;
}

#cart {
    width: 100%;

}

h1 {
    font-size: small;
    letter-spacing: 0.3em;
    font-weight: 500;
}

h2 {
    font-family: 'Fraunces';
    font-weight: 700;
    font-size: 32px;
    /* border: 5px solid black; */
    box-sizing: border-box;
    line-height: 1;
    color: hsl(212, 21%, 14%);
}

.price {
    padding-right: 7%;
}

.pricemain {
    font-size: 32px;
    font-family: 'Fraunces';
    font-weight: bold;
}

.pricecross {
    align-self: center;
    text-decoration: line-through;
}

.btn {
    font-family: inherit;
    font-weight: inherit;
    align-self: center;
    font-size: small;
    padding: 1em;
}

.btn:hover {
    background-color: hsl(158, 36%, 37%);
}

.image2 {
    display: none;
}

@media only screen and (max-width: 576px) {

    .image1 {
        display: none !important;
    }

    .image2 {
        display: block;
        border-bottom-left-radius: 0% !important;
        border-bottom-right-radius: 0% !important;
    }

    #main {
        max-width: 375px;
        height: 667px;
    }

    #ProductImage{
        flex-wrap: wrap;
        height: fit-content;
    }

    #info{
        padding-bottom: 1em;
        font-size: medium;
    }
    p{
        transform: translateY(0.5em);
    }
    .btn{
        font-size: medium;
    }
}